.done{
    text-align: center;
    text-decoration:line-through;
    background-color: rgba(255, 0, 0, 0.185);
}
*{
    text-align: center;
}
.list{
    width: 100%;
    overflow: scroll;
    height: 50vh;
}