/* CSS Normalize */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

html,body{
    height: 100%;
    background-color: rgb(0, 0, 0);
}
.navm-imgs{
    height: 4%;
    width: 40%;
    filter: invert(80%);
    margin-bottom: 80%;
}
.middle-content-right-colum{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}
.middle-content-right-colum-left{
    flex:2;
}
.middle-content-right-colum-right{
    flex: 1;
}
.middle-content-right-colum-left p{
    font-size: 70%;
    flex-grow: 1;
    color: white;
    margin-top: 0px;
}
.middle-content-right-colum-right img{
    height: 75%;
    width: 40%;
    border: 2px solid rgb(2, 206, 2);
    border-radius:100%;
    
}
.friends-img{
    display: flex;
    justify-content: space-between;
    margin-right: 23%;
    
}
.friends-img span{
    border: 2px dotted gray;
    border-radius:100%;
    width: 3%;
    /* height: 100%; */
    
}
.friends-img img{
    border: 2px solid rgb(2, 206, 2);
    border-radius:100%;
    box-shadow:0px 0px 20px 0px #48ff004b ;
}
.friends-img img:nth-child(2n) {
    border: 2px solid rgb(206, 2, 2);
    border-radius:100%;
    box-shadow:0px 0px 20px 0px #ff000083 ;
}
.searchBar{
    max-height: 20%;
}
.middle-content-left{
    display: flex;
    flex-basis: 75%;
    margin-left: 5%;
}
.middle-content-left input{
    flex-grow: 1;
    background-color: rgba(31, 25, 25, 0);
    border-style: none;
    max-width: 50%;;
    margin-left: 2%;
    color: white;
    font-size: 90%;
}
.middle-content-right{
    display: flex;
    flex-basis: 25%;
    justify-content: left;
    justify-items: left;
    /* background-color: #ff0; */
}
.middle-content-img{
    height: 30%;
    width: 2%;
    filter: invert(80%);
}
.container{
    display: flex;
    flex-direction: column;
    
    height: 100%;
    width: 100%;
}
.content-box{
    display: flex;
    flex-grow: 20;
}
.spotify-logo{
    width: 70%;
    height: 70%;
    margin-left: 15%;
    margin-top: 20%;
}
.player-box{
    display: flex;
    flex-grow: 0;
    flex-basis: 10%;
}
.column{
    display: flex;
    flex-direction: column;
}

.column-content-left{
    flex-grow: 1;
    max-width: 4%;
    display: flex;
    flex-direction: column;
}

.column-content-center{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-top: 0.5%;
}
.column-content-right{
    flex-grow: 3;
    flex-basis: 90%;
    display: flex;
    flex-direction: column;
}
.left-title{
    text-align: left;
    flex-basis: 10%;
    flex-grow: 1;
    margin-top: 15%;
    margin-bottom: 5%;
}
.column-player-center{
    flex-grow: 8;
    flex-basis: 60%;
    /* background-color: rgb(43, 58, 12); */
    display: flex;
    flex-direction: column;
}
.column-player-right{
    flex-grow: 4;
    display: flex;
    flex-direction: row;
    width: 15%;
    background-color: rgb(44, 33, 35);
}
.column-player-left{
    flex-grow: 0;
    display: flex;
    width: 25%;
    flex-direction: row;
}
.player img, .player-progress-bar img{
    width: 20px;
    height: 20px;
    margin-left: 2%;
    filter: invert(80%);
}
.player{
    height: 100%;
    text-align: center;
    margin-top: 2%;
    color: wheat;
}
.player-progress-bar{
    height: 100%;
    text-align: center;
    margin-top: 2%;
    color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.player-progress-bar *{
    flex-grow: 1;
}
.song-info-text{
    flex-basis: 60%;
    color: aliceblue;
    font-size: 70%;
    margin-top: 1%;
}
.song-info-img{
    flex-basis: 30%;
}
.song-info-img img{
    width: 80%;
    height: 60%;
    margin: 10% 10% 10% 10%;
}


.row-left-content-up{
    flex-grow: 0;
    justify-content: center;
    margin-bottom: 50%;
}
.row-left-content-middle{
    flex-grow: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row-middle-content-middle img{
    height: 15%;
    width: 3%;
}

.row-middle-content-top{
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: aquamarine; */
}
.row-middle-content-middle{
    flex-grow: 1;
    color: grey;
    margin-left: 5%;
}
.row-middle-content-bottom{
    flex-grow: 8;
    display: flex;
    color: white;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
}
.nav-content-menu{
    flex-grow: 0.3;
    display: flex;
    flex-direction: row;
    justify-items: center;
    margin-left: 5%;
    margin-top: 5%;
}
.content-menu-option{
    flex-basis: 15%;
    color: gray;
    font-stretch: wider;

    /* background-color: green; */
}
.nav-content-songs{
    flex-grow: 5;
    display: flex;
    flex-direction: row;
}
.content-songs-img{
    flex-grow: 1;
    /* background-color: aqua; */
    align-items: center;
    justify-content: center;
    display: flex;
    flex-basis: 50%;
}
.content-songs-img img{
    height: 70%;
    width: 70%;
}
.content-songs-list{
    flex-grow: 5;
    flex-basis: 70%;
    margin-top: 2%;
}
.albumsongs{
    display: flex;
    align-items: center;
    margin-top: 6.5%;
}
.last-played-item{
    font-size: 100%;
}
.albumsongs p{
    flex-grow: 1;
    font-size: 60%;
}
.albumsongs div{
    flex-grow: 1;
    flex-basis: 30%;
}
.img-song-list{
    flex-grow: 1;
    max-height: 10%;
    max-width: 10%;
    display: flex;
    align-items: center;
}
.albumsong-info{
    display: flex;
    flex-direction: column;
}
.albumsong-info p{
    flex-grow: 100%;
    line-height: 0%;
}
.img-song-list img{
    height: 4%;
    width: 40%;
    filter: invert(80%);
}
.row-right-content-top{
    flex-grow: 0;
    color: gray;
    border-bottom: 1px solid green;
    
    margin-left: 15%;
}
.row-right-content-middle{
    flex-grow: 1;
    color: gray;
}
.row-right-content-bottom{
    flex-grow: 5;
}

.left-content-button{
    background-color: green;
    height: 100%;
    width: 90%;
    margin-left: 10%;
    border-radius:10px;
    border-color: green;
    color: white;
    
}