/* CSS Normalize */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

html,body{
    height: 100%;
    background-color: rgb(0, 0, 0);
}
.navm-imgs{
    height: 4%;
    width: 40%;
    filter: invert(80%);
    margin-bottom: 80%;
    align-self: center;
}
.middle-content-right-colum{

}
.middle-content-right-colum img{
    height: 50%;
    width: 20%;
}
.searchBar{
    max-height: 20%;
}
.middle-content-left{
    display: flex;
    flex-basis: 75%;
    margin-left: 5%;
}
.middle-content-left input{
    flex-grow: 1;
    background-color: rgb(31, 25, 25);
    border-style: none;
    max-width: 50%;;
    margin-left: 2%;
    font-size: 90%;
}
.middle-content-right{
    display: flex;
    flex-basis: 25%;
    background-color: #ff0;
}
.middle-content-img{
    height: 30%;
    width: 2%;
    filter: invert(80%);
}
.container{
    display: flex;
    flex-direction: column;
    
    height: 100%;
    width: 100%;
}
.content-box{
    display: flex;
    flex-grow: 20;
}
.spotify-logo{
    width: 70%;
    height: 70%;
    margin-left: 15%;
    margin-top: 20%;
}
.player-box{
    display: flex;
    flex-grow: 0;
    max-height: 14%;
}
.column{
    display: flex;
    flex-direction: column;
}

.column-content-left{
    flex-grow: 1;
    max-width: 4%;
    display: flex;
    flex-direction: column;
}

.column-content-center{
    flex-grow: 10;
    /* background-color: yellowgreen; */
    display: flex;
    flex-direction: column;
}
.column-content-right{
    flex-grow: 3;
    /* background-color: pink; */
}

.column-player-left{
    flex-grow: 3;
    /* background-color: rgb(22, 11, 32); */
    display: flex;
    flex-direction: row;
}
.song-info-text{
    flex-basis: 70%;
    color: aliceblue;
}
.song-info-img{
    flex-basis: 30%;
    background-color: #ff0;
}

.column-player-center{
    flex-grow: 7.6;
    background-color: rgb(43, 58, 12);
    display: flex;
    flex-direction: column;
}
.column-player-right{
    flex-grow: 3.55;
    display: flex;
    flex-direction: row;
    background-color: rgb(44, 33, 35);
}
.row-left-content-up{
    flex-grow: 0;
    justify-content: center;
    margin-bottom: 50%;
}
.row-left-content-middle{
    flex-grow: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.middle-content{
    align-self: center;
}
.row-middle-content-top{
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    /* background-color: aquamarine; */
}
.row-middle-content-middle{
    flex-grow: 1;
    background-color: red;
}
.row-middle-content-bottom{
    flex-grow: 8;
    display: flex;
    color: white;
    flex-direction: column;
    background-color: #000;
}
.nav-content-menu{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}
.content-menu-option{
    flex-basis: 14%;
    background-color: green;
}
.nav-content-songs{
    flex-grow: 5;
    display: flex;
    flex-direction: row;
}
.content-songs-img{
    flex-grow: 2;
    background-color: aqua;
}
.content-songs-list{
    flex-grow: 3;
    background-color: rgb(152, 250, 250);
}


.row-right-content-top{
    flex-grow: 0.5;
    background-color: blue;
}
.row-right-content-middle{
    flex-grow: 8;
    background-color: green;
}
.row-right-content-bottom{
    flex-grow: 1;
    background-color: white;
}



