
body{
   display: flex;
   flex-direction: column;
   height: 100vh;
   width: 100vw;
   margin: 0;
   font-family: 'Nunito', sans-serif;
}

header{
   background-color: #6c4338;
   /*
   border: solid black 3px;
    **/
   height: 15%;
   width: 100vw;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
#heart-counter-container{
   width: 20%;
   height: 40px;
   display: flex;
   margin-left: 50px;
}
#heart-counter-container img {
   max-width: 100%;
}
#pistas{
   display: flex;
   margin-right: 50px;
}

#isaac {
   height: 100px;
}
main{
   background-color: #593b2e;
   height: 70%;
   width: 100vw;
   display: flex;
   justify-content: center;
}
 /* #593b2e */
#zonacentral{
   display: flex;
   height: 100%;
   width: 100%;
}
#ahorcadodibujo{
   height: 100%;
   width: 40%;
   display: flex;
   justify-content: center;
}
#ahorcadodibujo img{
   height: 100%;
   max-width:100%;

}
#letras{
   height: 100%;
   width: 60%;
}
#letters{
   display: flex;
   justify-content: center;
   margin-top: 15px;
}
#buttons{
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   margin-left: 15px;
   margin-right: 15px;
}
/* #letras button{
   margin-left: 45px;
   margin-bottom: 15px;
   /* width: 40px; */
   /* border-radius: 83px; 
   -moz-border-radius: 83px;
   -webkit-border-radius: 83px;
   border: 5px solid darkred;
} */

.movieResult{
   color: rgb(180, 147, 101);
   margin-left: 2%;
}
footer{
   background-color: #6c4338;
   height: 15%;
   width: 100vw;
   display: flex;
   justify-content: center;
   align-content: center;
}
#footerabajo{
   display: flex;
   justify-content: center;
   align-content: center;
}
#titulopeli{
   display: flex;
   align-items: center;
}

.myButton {
   box-shadow:inset 0px 0px 12px 0px #a6827e;
   background:linear-gradient(to bottom, #7d5d3b 5%, #d4934c 100%);
   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d5d3b', endColorstr='#d4934c',GradientType=0);
   background-color:#7d5d3b;
   border-radius:35px;
   display:inline-block;
   cursor:pointer;
   color:#ffffff;
   font-family:Arial;
   font-size:15px;
   padding:16px 24px;
   text-decoration:none;
   text-shadow:0px 0px 0px #4d3534;
}
.myButton:hover {
   background:linear-gradient(to bottom, #d4934c 5%, #7d5d3b 100%);
   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4934c', endColorstr='#7d5d3b',GradientType=0);
   background-color:#d4934c;
}
.myButton:active {
   position:relative;
   top:1px;
}
.modal-title {
   color: white;
}
.modal-content {
   background: #6c4338;
}
 /* opacidad background modal */
.modal-backdrop.show {
   opacity: 0.8;
}
.body-class{
   display: flex;
   /* flex-direction: column; */
}
.buttons-container{
   display: flex;
}
.letters-container{
   display: flex;
   flex-direction: column;
}
@font-face {
  font-family: isaacFont;
  src: url(./fonts/Lacquer-Regular.ttf);
}
*{
   font-family: isaacFont;
}
/* Experimentando con Botones CSS */
.btn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	margin: 2% 20px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
   transition: all 0.3s;
   font-size: 35px;
}
.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	transition: all 0.3s;
}

.btn-style {
	background: #CB8A7C;
	color: #fff;
	box-shadow: 0 6px #ab3c3c;
	transition: none;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	padding: 0;
}

.btn-style:hover {
	box-shadow: 0 4px #ab3c3c;
	top: 2px;
}

